<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="ml-20 pt-36 min-h-screen bg-gray-100">
    <div class="w-3/4 mx-auto rounded bg-gray-50 border shadow">
        <div class="flex border-b-2">
            <div class="relative inline-block text-left">
                <div class="mr-1">
                    <button type="button" (click)="toggleDropdown()" class="font-bold flex-shrink-0 z-10 rounded inline-flex items-center py-4 px-4 text-lg font-bold text-center text-gray-900 bg-gray-50 hover:bg-gray-200" id="menu-button" aria-expanded="true" aria-haspopup="true">
                      {{category}}
                      <svg class="w-2.5 h-2.5 ms-3 mt-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                      </svg>
                    </button>
                  </div>
                  <div *ngIf="isDropdownOpen" class="absolute bg-gray-50 z-10 mt-2 w-56 origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                      <button *ngFor="let category of categories" (click)="updateSelectedOption(category)" class=" block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{category}}</button>
                    </div>
                </div>
            </div>
            
            <div class="relative inline-flex items-center w-full pr-2">
                <input type="text" [(ngModel)]="searchValue" (input)="filterResults()" name="searchValue" id="searchValue" class="border block p-2 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded focus:ring-blue-500 focus:border-blue-500" placeholder="Search Questions, Topics, Type..." required>
                <div class="absolute opacity-25 pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </div>
            </div>
            <button *ngIf="selectedQuestions.length > 0" type="button" (click)="createQuiz()" class="text-white whitespace-nowrap bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Quiz</button>
        </div>
        <div class="flow-root px-3 max-h-full h-5/6">
            <ul role="list" class="divide-y divide-gray-200">
                <li *ngFor="let question of filteredQuestionsList" class="py-4">
                    <label class="cursor-pointer py-4" for="checkbox + {{question.id}}">
                        <div class="grid grid-cols-11 gap-2">
                            <div class="col-span-5 flex gap-2">
                                    <div class="relative flex cursor-pointer">
                                        <input type="checkbox" id="checkbox + {{question.id}}" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:bg-gray-50 checked:before:bg-gray-900 hover:before:opacity-10" [checked]="selectedQuestions.includes(question)" (change)="updateSelection(question, $event)">
                                    <span class="absolute transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                                            stroke="currentColor" stroke-width="1">
                                            <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                    </div>

                                <p title={{question.question}} class="text-sm font-medium truncate">
                                    {{question.question}}
                                </p>
                            </div>
                            <div class="col-span-2">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                    {{ question.questionType }}
                                </p>
                            </div>
                            <div class="col-span-3">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                    {{ question.topics.join(', ') }}
                                </p>
                            </div>
                            <div class="col-span-1 flex justify-end gap-1 items-center">
                                <p class="pr-2 text-sm font-medium text-gray-900 truncate">
                                    {{ question.generatedAt | customDate }}
                                </p>
                            </div>
                        
                        </div>
                    </label>

                                 
                </li>
            </ul>
            
        </div>
    </div>
    
    
</div>
