
<div class="container mx-auto">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/create">create quiz</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/register">register</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/login">login</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button (click)="logout()">logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/question-bank">question bank</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/library">library</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="/join">join</a>
        </div>
    </div>
    
</div>