<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<div class="ml-20 pt-32">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Setup Assignment
                </h1>
                <form class="space-y-4 md:space-y-6" #assignForm="ngForm" (ngSubmit)="createAssignment(assignForm.value)">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                        <input type="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="My Assignment" required ngModel>
                    </div>
                    <div>
                        <label for="classroom" class="block mb-2 text-sm font-medium text-gray-900">Classroom</label>
                        <select id="classroom" name="classroom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required [(ngModel)]="assignForm.value.classroom">
                            <option *ngFor="let classroomOption of classes" [ngValue]="classroomOption" [selected]="classroom?.id === classroomOption.id">{{ classroomOption.name }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="releaseTime" class="block mb-2 text-sm font-medium text-gray-900">Start Time</label>
                        <input type="datetime-local" name="releaseTime" id="releaseTime" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required ngModel>
                    </div>
                    <div>
                        <label for="deadline" class="block mb-2 text-sm font-medium text-gray-900">Deadline</label>
                        <input type="datetime-local" name="deadline" id="deadline" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required ngModel>
                    </div>
                    <div>
                        <label for="timer" class="block mb-2 text-sm font-medium text-gray-900">Duration (Minutes)</label>
                        <input type="number" name="timer" id="timer" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" min="0" max="59" required ngModel>
                    </div>
                    <div>
                        <label for="questions" class="block mb-2 text-sm font-medium text-gray-900">Quiz</label>
                        <select id="questions" name="questions" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required [(ngModel)]="assignForm.value.questions">
                            <option *ngFor="let quizz of quizzes" [ngValue]="quizz.questions" [selected]="quiz?.id === quizz.id">{{ quizz.title }}</option>
                        </select>
                    </div>
                    <div class="flex items-center justify-between">
                        <label for="multipleAttempts" class="flex-shrink-0 mb-2 text-sm font-medium text-gray-900">Unlimited Attempts?</label>
                        <input type="checkbox" name="multipleAttempts" id="multipleAttempts" class="w-4 h-4" min="0" max="59" required ngModel>
                    </div>
                                    
                    <button type="submit" class="w-full mt-3 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Assign</button>
                    
                    <span class="text-red-500 font-small">
                        {{ errorMessage }}
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>